<div class="row">
  <div class="col-lg-6 offset-lg-3 mt-5">
    <h2 class="text-center font-title">Enter a Budget</h2>
    <div class="card">
      <div class="card-body">
        <div class="text-center mb-3" *ngIf="incorrectQuanity">
          <span class="badge bg-danger"> The Badget should be more than 0</span>
        </div>
        <input
          type="number"
          class="form-control form-control-lg"
          placeholder="Enter your budget"
          [(ngModel)]="quantity"
        />
        <button class="btn btn-secondary btn-lg btn-block mt-2" (click)="add()">
          Accept
        </button>
      </div>
    </div>
  </div>
</div>
