body {
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4b00e063, #8d2de259);
  background: linear-gradient(to right, #4b00e063, #8d2de259);
}

.font-title {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
